.skills_con {
    height: 300px;
    background-color: #0085FF;
    text-align: center;
    color: #fff;
    overflow: hidden;

    & .skills_title {
        margin-top: 34px;
        font-size: 24px;
        font-weight: bold;
    }

    & .skills_list {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 68px;

        & li {
            margin: 0 37px;

            & svg {
                width: 80px;
                height: 80px;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .skills_con {
        height: auto;
        
        & .skills_list {
            flex-direction: column;
            margin: 50px 0;

            & li {
                margin: 24px 0;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1040px) {
    .skills_con {
        height: auto 0;
        width: 1047px;
    }
}