.contatc_wapper {
    height: 500px;
    background: #0085FF;
    color: #fff;
    overflow: hidden;

    & .contact_container {
        max-width: 1170px;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;

        & .contact_info {
            width: 420px;

            & h3 {
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 13px;
            }

            & .contact_desc {
                margin-bottom: 16px;
                font-size: 16px;
            }

            & .contact_address {
                margin-bottom: 28px;
                font-size: 16px;
            }
        }

        & .contact_form {
            width: 520px;

            & label {
                display: block;
                margin: 10px 0;
                font-size: 14px;
            }
            & .input_group {
                display: flex;
                justify-content: space-between;

                & input[type="text"] {
                    width: 250px;
                    height: 40px;
                    border-radius: 5px;
                    padding: 15px;
                    outline: none;
                    border: none;
                }
            }

            & input[type="email"] {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                padding: 15px;
                border: none;
                outline: none;
            }

            & textarea {
                width: 100%;
                height: 100px;
                border-radius: 5px;
                padding: 15px;
                border: none;
                outline: none;
            }

            & button {
                width: 100px;
                height: 40px;
                background-color: #fff;
                border: none;
                border-radius: 5px;
                margin-top: 20px;
                cursor: pointer;
                transition: 0.3s;

                & :hover {
                    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

@media screen and (max-width: 480px){
    .contatc_wapper {
        height: auto;
        margin-top: 48px;

        & .contact_container {
            flex-direction: column;

            & .contact_info, & .contact_form {
                width: 100%;
                padding: 20px;
            }

            & .contact_form {
                & input {
                    width: 100% !important;
                }

                & .input_group {
                    flex-direction: column;
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1040px){
    .contatc_wapper {
        height: auto 0;
        width: 1047px;

        & .contact_container {
            margin: 50px 24px;
        }
    }
}