.number_container {
    height: 300px;
    background-color: #0085FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .number_items {
        color: #fff;
        margin: 0 100px;

        & h3 {
            font-size: 48px;
            font-weight: bold;
        }

        & p {
            font-size: 24px;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 480px){
    .number_container {
        height: auto;
        flex-direction: column;
        padding: 50px 0;

        & .number_items {
            margin: 30px 0;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1040px) {
    .number_container {
        height: auto 0;
        width: 1047px;

        & .number_items {
            margin: 0 24px;
        }
    }
}