.testimonials_container {
    height: 500px;
    background-color: #fff;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;

    & .testi_title {
        font-size: 32px;
        font-weight: bold;
        margin-top: 48px;
    }

    & .testi_list {
        display: flex;
        justify-content: center;
        margin-top: 75px;

        & .testi_items {
            width: 300px;
            height: 196px;
            margin: 0 71px;
            justify-items: center;

            & p {
                font-size: 16px;
            }

            & img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                object-fit: cover;
                margin-top: 16px;

            }

            & h4 {
                margin-top: 12px;
                font-size: 14px;
            }

            & .testimo_position {
                font-size: 10px;
            }
        }
    }
}

@media screen and (max-width: 480px){
    .testimonials_container {
        height: auto;

        & .testi_list {
            flex-direction: column;

            & .testi_items {
                width: 100%;
                margin: 0;
                padding: 30px;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1040px) {
    .testimonials_container {
        height: auto 0;
        width: 1047px;
    }
}